@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to My Hobby Site</h1>
    <br />
    <h4>About Me:</h4>
    <p>I served a mission for the Church of Jesus Christ of Latter-day Saints from 2020-2022 and picked up Cross Stitching early on.
        While it isn't something I get the opportunity to do much anymore, I enjoy small projects from time to time for friends and loved ones
        to display there passions. I've recently decided to branch out and will be teaching others how to cross stitch so they can make their own projects!</p>
    <h4>What is Cross Stitching?</h4>
    <p>Cross-stitch is a form of sewing and a popular form of counted-thread embroidery in which X-shaped stitches in a tiled, raster-like pattern are used to 
        form a picture. The stitcher counts the threads on a piece of evenweave fabric (such as linen) in each direction so that the stitches are of uniform size
        and appearance.</p>
    <img src="~/img/roses.jpg" id="Roses"/>
    <p>This is a rose cluster cross stitch I made for my cousin when she had her baby.</p>
    <img src="~/img/unicorn.jpg" id="Most Unicorniest"/>
    <p>This is a unicorm cross stitch I made for a girl I lived with who was obsessed with unicorns.</p>
</div>